In [1]:
print("What is the name the author of this notebook?")
author_name = input()
print("Author's Name:", author_name)

What is the name the author of this notebook?
Fahim Anzum
Author's Name: Fahim Anzum

# Combining the print() and input()

In [2]:
author_name = input("What is the name the author of this notebook?")
print("Author's Name:", author_name)

What is the name the author of this notebook?Fahim Anzum
Author's Name: Fahim Anzum

## input() is always a string type data, even if the user inputs some numbers.

In [2]:
radius = input("Enter the radius of the circle:")
print(type(radius))

Enter the radius of the circle:4.3
<class 'str'>

In [3]:
# We need to convert it as needed
# Assume we want to calculate the area of a circle: area = PI * radius * radius

PI = 3.1416

# Method 1
radius = input("Enter the radius of the circle:")
area = PI * float(radius) * float(radius)
print("Area of the circle:", area)

# Method 2
radius = float(input("Enter the radius of the circle:"))
area = PI * radius * radius
print("Area of the circle:", area)

Enter the radius of the circle:3.2
Area of the circle: 32.169984
Enter the radius of the circle:3
Area of the circle: 28.2744

# Type Casting: Conversion between data types

In [4]:
int("1")

1

In [5]:
str(1)

'1'

In [6]:
float('1.0')

1.0

In [7]:
int('1.5')

ValueError: invalid literal for int() with base 10: '1.5'

### int('1.5'):

When we use int('1.5'), we try to convert the string '1.5' to an integer.
The int() function expects a string representing a whole number (integer). In this case, '1.5' is not a whole number; it's a decimal number (a floating-point number) due to the presence of the decimal point.
Since int() cannot directly convert a decimal number in string form to an integer, it raises a ValueError to indicate that the conversion is not possible.

In [8]:
float('1')

1.0

In [9]:
float('abc')

ValueError: could not convert string to float: 'abc'

# Formatting Values

In [10]:
print(1/3)

0.3333333333333333

In [11]:
print("%.2f" %(1/3))

0.33

In [12]:
import math
print("pi is % .2f when rounded to 2 decimal places" % math.pi)

pi is  3.14 when rounded to 2 decimal places

In [6]:
# Formatting a floating-point number with width and precision
PI = 3.141592653589793
formatted_pi = "%8.2f" % PI  # Minimum width of 8 characters, 2 decimal places
print(formatted_pi)  # Output: "    3.14"

    3.14

In [14]:
print("%4.2f" %PI)
print("%5.2f" %PI)
print("%6.2f" %PI)
print("%7.2f" %PI)

3.14
 3.14
  3.14
   3.14

In [15]:
print("%04.2f" %PI)
print("%05.2f" %PI)
print("%06.2f" %PI)
print("%07.2f" %PI)

3.14
03.14
003.14
0003.14